body{
    background-color: #1cb43f;
    
}
.container{
    margin-top:100px;
    text-align: center;
    align-items: center;
    border: #0e0202 1px solid;
    width: 500px;
    
    background-color: #0e0202;
    border-radius: 10px;
    
}
h1{
    color:#e31515;
}
.input{
    width: 250px;
    background-color: #e4d9d9;
}
.list{
    color: #e7e9ed;
    font-size: 2rem;
}
.list span{
    display: none;
    
    
}
li:hover span{
    display: inline;
    cursor: pointer;
    color: #2171e2;
}


